html,body{
  margin: 0;
  padding: 0;
}
html,body{overflow:hidden;overflow-y:auto;}

#container{
  position: relative;
  overflow:hidden;
}
#app{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../images/background.jpg") no-repeat top center;
  background-size:auto 100%;
  text-align:center;
}

.item-1 {
  div{
    padding-top: 100px;
  }
}

#swiperBackImg{
  left: 50%;
  top: 350px;
  height: 274px;
  width: 762px;
  margin-left: -381px;
  background: url("../images/swiperBack.png") no-repeat top center;
	background-size:contain;
  position: absolute;
}
#swiperBackImg1{
  left: 50%;
  top: 624px;
  height: 274px;
  width: 762px;
  margin-left: -381px;
  background: url("../images/swiperBack.png") no-repeat top center;
	background-size:contain;
  position: absolute;
}

#swiperBackImg2{
  left: 50%;
  top: 898px;
  height: 274px;
  width: 762px;
  margin-left: -381px;
  background: url("../images/swiperBack.png") no-repeat top center;
	background-size:contain;
  position: absolute;
}
#swiperBackImg3{
  left: 50%;
  top: 1172px;
  height: 274px;
  width: 762px;
  margin-left: -381px;
  background: url("../images/swiperBack.png") no-repeat top center;
	background-size:contain;
  position: absolute;
}
.swiperbutton{
  height: 40px;
  margin-top:20px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: 25%;
}
#btn_left{
    left: 25%;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
#btn_left1{
    left: 25%;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
#btn_left2{
    left: 25%;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
#btn_left3{
    left: 25%;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
} 

.slide{
    position: relative;
    max-width: 640px;
    overflow: hidden;
    margin: 20px auto;
}
.slide:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.slide ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide_tab{
  width: 256px;
  height: 121.5px;
  border-radius:10px;
  -moz-border-radius:10px; /* 老的 Firefox */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-22px;
  overflow: hidden;
  -webkit-transform:rotate(0deg);
  margin-left: -126px;
}

.slide_tab .tab_box{

    background-color: #aaa;
    text-align: center;
    color: #fff;
}
.slide_tab .btn_left,.slide_tab .btn_right{
    width: 50px;
}
.slide_tab .tab{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab .tab span{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab .tab .cur{
    background-color: #fff;
    color: #333;
}
.slide_tab .product_box{
    position: relative;
    overflow: hidden;
    margin: 0;
}
.slide_tab .product_box:after{
}
.slide_tab .product_box li:after{
    content:'';
    display:table;
    clear:both;
}
.slide_tab .product_box .pic{

}
.slide_tab .product_box .pic:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.slide_tab .product_box .pic img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  #ulpadding{
    padding: 0;
    margin: 0;
  }

.palybutton{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
}


.slide_tab1{
  width: 256px;
  height: 121.5px;
  border-radius:10px;
  -moz-border-radius:10px; /* 老的 Firefox */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-22px;
  overflow: hidden;
  -webkit-transform:rotate(0deg);
  margin-left: -126px;
}

.slide_tab1 .tab_box{

    background-color: #aaa;
    text-align: center;
    color: #fff;
}
.slide_tab1 .btn_left,.slide_tab1 .btn_right{
    width: 50px;
}
.slide_tab1 .tab{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab1 .tab span{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab1 .tab .cur{
    background-color: #fff;
    color: #333;
}
.slide_tab1 .product_box{
    position: relative;
    overflow: hidden;
    margin: 0;
}
.slide_tab1 .product_box:after{
}
.slide_tab1 .product_box li:after{
    content:'';
    display:table;
    clear:both;
}
.slide_tab1 .product_box .pic{

}
.slide_tab1 .product_box .pic:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.slide_tab1 .product_box .pic img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}




.slide_tab2{
  width: 256px;
  height: 121.5px;
  border-radius:10px;
  -moz-border-radius:10px; /* 老的 Firefox */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-22px;
  overflow: hidden;
  -webkit-transform:rotate(0deg);
  margin-left: -126px;
}

.slide_tab2 .tab_box{

    background-color: #aaa;
    text-align: center;
    color: #fff;
}
.slide_tab2 .btn_left,.slide_tab2 .btn_right{
    width: 50px;
}
.slide_tab2 .tab{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab2 .tab span{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab2 .tab .cur{
    background-color: #fff;
    color: #333;
}
.slide_tab2 .product_box{
    position: relative;
    overflow: hidden;
    margin: 0;
}
.slide_tab2 .product_box:after{
}
.slide_tab2 .product_box li:after{
    content:'';
    display:table;
    clear:both;
}
.slide_tab2 .product_box .pic{

}
.slide_tab2 .product_box .pic:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.slide_tab2 .product_box .pic img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}






.slide_tab3{
  width: 256px;
  height: 121.5px;
  border-radius:10px;
  -moz-border-radius:10px; /* 老的 Firefox */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top:-22px;
  overflow: hidden;
  -webkit-transform:rotate(0deg);
  margin-left: -126px;
}

.slide_tab3 .tab_box{

    background-color: #aaa;
    text-align: center;
    color: #fff;
}
.slide_tab3 .btn_left,.slide_tab3 .btn_right{
    width: 50px;
}
.slide_tab3 .tab{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab3 .tab span{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.slide_tab3 .tab .cur{
    background-color: #fff;
    color: #333;
}
.slide_tab3 .product_box{
    position: relative;
    overflow: hidden;
    margin: 0;
}
.slide_tab3 .product_box:after{
}
.slide_tab3 .product_box li:after{
    content:'';
    display:table;
    clear:both;
}
.slide_tab3 .product_box .pic{

}
.slide_tab3 .product_box .pic:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.slide_tab3 .product_box .pic img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}