html,body{
  margin: 0;
  padding: 0;
}
#app{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../images/p0.jpg") no-repeat top center;
  background-size: 100%;

}

